  <% if @shipping.errors.any? %>
  <%= @shipping.errors.count %>errors prohibited this obj from being saved:
  <% @shipping.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container my-5">

  <div class="row">
    <div class="offset-1 text-center">
      <h3 class="text title-text">配送先編集</h3>
    </div>
  </div>
    
  <div class="row">
    <div class="offset-1 col-md-10 ofset-1">
     <!-- form_with部分 -->
      <%= form_with model: @shipping, url: shipping_path(@shipping), local: true do |f| %>
        <table class="form-group">
          <tr><th>郵便番号(ハイフンなし)</th>
          <td><%= f.text_field :post_cord %></td>
          </tr>
          <tr><th>住所</th>
          <td><%= f.text_field :address, size: "50" %></td>
          </tr>
          <tr><th>宛名</th>
          <td><%= f.text_field :name %>　様</td>
          </tr>
          <tr><th></th>
          <td><div class="text-right"><%= f.submit '変更を保存', class:'btn', style: "background-color: #cbb05e; color: black;" %></div></td>
          </tr>
        </table>  
      <% end %>
    </div>
  </div>
</div>
