<%= flash[:notice] %>

  <% if @shipping.errors.any? %>
  <%= @shipping.errors.count %>errors prohibited this obj from being saved:
  <% @shipping.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>



<div class="container">
  <div class="row"> 
  　  <div class="col-sm-1"></div>
    <div class="form-group">
     <h4 class="mt-5 bg-light">配送先登録／一覧</h4>
    </div>
  </div>
  

  <%= form_with model: @shipping, url: shippings_path, local:true do |f| %>
    <table class="form-group">
      <tr><th>郵便番号(ハイフンなし)</th>
        <td><%= f.text_field :post_cord, placeholder: "0000000", class:"form-control" %></td>
      </tr>

      <tr><th>住所</th>
        <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"form-control" %></td>
      </tr>
  
      <tr><th>宛名</th>
      　<td><%= f.text_field :name, placeholder: "令和道子", class:"form-control" %>
      　<%= f.submit '新規登録', class:'btn btn-success'  %></td>
      </tr>
     <% end %>
    </table>
    
    
<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">郵便番号</th>
      <th scope="col">住　所</th>
      <th scope="col">宛　名</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @shippings.each do |s| %>
  <tbody>
    <td><%= s.post_cord %></td>
    <td><%= s.address %></td>
    <td><%= s.name %></td>
    <td><%= link_to "編集する" , "/shippings/#{s.id}/edit", class:"btn btn-success btn-sm" %>
    <%= link_to "削除する", "/shippings/#{s.id}", method: :delete, class:"btn btn-danger btn-sm","data-confirm" => "本当に削除しますか?" %></td>
  </tbody>
  <% end %>
</table>
</div>
</div>