<div class="container px-5 px-sm-0">
  <div class='row'>

    <div class="col-3 text-center">
          <div class="card">
              <div class="card-header">
                ジャンル検索
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%= link_to "ケーキ", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "焼き菓子", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "プリン", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "キャンディ", root_path, class: "text-secondary" %>
                </li>
              </ul>
            </div>
        </div>

    <div class="col-md-9">
      <h2><%= "商品一覧 （全#{@products_all.count}件）" %></h2>

        <div class="product-box">
            <% @products.each do |product| %>
        <!--<div class="col-lg-3 col-md-6 mb-4">-->
                <div class="col-lg-3 col-md-3 mb-3">
                    <%= link_to product_path(product.id), style: "color: black;", data: {"turbolinks" => false} do %>
                        <%= attachment_image_tag(product, :image, class: 'index-image', fallback: "no_image.jpg") %><br>
                        <%= product.name %><br>
                        ¥<%= (product.price * 1.1).to_i %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <%= paginate @products %>




<!--仮-->
        <%= form_with model:@product,local:true do |f| %>

          <div class="form-group">
            <%= f.label :画像 %>
            <%= f.attachment_field :image %>
          </div>

          <div class="form-group">
            <%= f.label :商品名 %>
            <%= f.text_field :name, class: 'form-control book_title' %>
          </div>
          <div class="form-group">
            <%= f.label :商品説明 %>
            <%= f.text_field :caption, class: 'form-control book_title' %>
          </div>
          <div class="form-group">
            <%= f.label :ジャンル %>
            <%= f.text_field :genre_id, class: 'form-control book_title' %>
          </div>
          <div class="form-group">
            <%= f.label :税抜き価格 %>
            <%= f.text_area :price, class: 'form-control book_body' %>
          </div>
          <div class="field">
            	<%= f.radio_button :is_active, true %>
            	<%= f.label :is_active, "販売中" %>
                <%= f.radio_button :is_active, false %>
                <%= f.label :is_active, "売切れ" %>
          </div>
          <div class="form-group">
            <%= f.submit class: 'btn btn-success' %>
          </div>
        <% end %>
<!--ーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
  </div>
</div>