<div class="container" style="font-family: 'Noto Sans JP',serif;">
  <div class='row pb-5 pt-2'>

    <div class="col-md-2 text-center">
      <div class="card">
        <div class="card-header">
          ジャンル検索
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to "ケーキ", root_path, class: "text-secondary" %>
          </li>
          <li class="list-group-item">
            <%= link_to "焼き菓子", root_path, class: "text-secondary" %>
          </li>
          <li class="list-group-item">
            <%= link_to "プリン", root_path, class: "text-secondary" %>
          </li>
          <li class="list-group-item">
            <%= link_to "キャンディ", root_path, class: "text-secondary" %>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-10">
      <h2><%= "商品一覧 （全#{@products_all.count}件）" %></h2>

        <div class="product-box">
            <% @products.each do |product| %>
                <div class="col-lg-3 col-md-3 mb-3">
                    <%= link_to product_path(product.id), style: "color: black;", data: {"turbolinks" => false} do %>
                        <%= attachment_image_tag(product, :image, class: 'index-image', fallback: "no_image.jpg") %><br>
                        <%= product.name %><br>
                        ¥<%= (product.price * 1.1).to_i %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <%= paginate @products %>

    </div>

  </div>
</div>