<div class="container mt-5 mb-5">
<span class="alert"><%= notice %></span>
<div class="row">
	<div class="col-md-2 text-center">
        <div class="card">
            <div class="card-header">
            	ジャンル検索
            </div>
            <ul class="list-group list-group-flush">
            	<li class="list-group-item">
                    <%= link_to "ケーキ", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "焼き菓子", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "プリン", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "キャンディ", root_path, class: "text-secondary" %>
                </li>
            </ul>
        </div>
    </div>

	<div class="col-md-5">
		<div class="text-right mt-2">
			<%= attachment_image_tag(@product, :image, fallback: "no_image.jpg",size: "300x217" ) %>
		</div>
	</div>

	<div class="col-md-5">

		<div class="detail">
			<h2 class="product-name"><%= @product.name %></h2>
			<p class="product-caption"><%= @product.caption %></p>
			<h3 class="product-price">￥<%= (@product.price * 1.1).to_i %><span class="tax">（税込）</span></h3>
			<% if @product.is_active != true %>
				<p class="soldout"> 現在品切れ中 </p>
			<% end %>
		</div>

		<% if customer_signed_in? %>
			<div class="row">
				<% if @product.is_active == true %>
					<%= form_with(model: @cart_product,method: :post, local: true) do |f| %>
		      			<%= f.label :quantity, "個数選択" %>
		      			<%= f.number_field :quantity, min: 1, max: 100, placeholder: '個数選択', class:"quantity-select-form" %>
		      			<%= f.hidden_field :product_id, :value => @product.id %>
		      			<%= f.hidden_field :customer_id, :value => current_customer.id %>
		      			<%= f.submit "カートに入れる", class: "btn btn-sm btn-dark" %>
		    		<% end %>
		    	<% end %>
			</div>
		<% end %>

	</div>

	</div>
</div>