<div class="row">
	<div class="col-2 offset-1 text-center">
        <div class="card">
            <div class="card-header">
            	ジャンル検索
            </div>
            <ul class="list-group list-group-flush">
            	<li class="list-group-item">
                    <%= link_to "ケーキ", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "焼き菓子", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "プリン", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "キャンディ", root_path, class: "text-secondary" %>
                </li>
            </ul>
        </div>
    </div>
	<div class="col-md-4">
		<div class="product-image">
			<%= attachment_image_tag(@product, :image, fallback: "no_image.jpg",size: "300x217" ) %>
		</div>
	</div>
	<div class="col-md-5">
		<div class="detail">
			<h2 class="product-name"><%= @product.name %></h2>
			<p class="product-caption"><%= @product.caption %></p>
			<h3 class="product-price">￥<%= (@product.price * 1.1).to_i %><span class="tax">（税込）</span></h3>
		</div>

		<% if customer_signed_in? %>

		<% else %>

			<div class="row">
				<% if @product.is_active == true %>
					<%= form_with(model: @cart_products, local: true) do |f| %>
		      			<%= f.label :quantity, "個数選択" %>
		      			<%= f.number_field :quantity, min: 1, max: 100, placeholder: '個数選択', class:"quantity-select-form" %>
		      			<%= f.hidden_field :id, :value => @product.id %>
		      			<%= f.submit "カートに入れる", class: "btn btn-primary" %>
		    		<% end %>
		    	<% else %>
		    		<p class="soldout"> Sold out </p>
		    	<% end %>

			</div>

		<% end %>
	</div>


</div>
