<div class="mb-5" id="top-img">
  <div class="col-12 text-center pt-5 text-light" id="top-massage">
      <h3>
        ようこそ、ながのCAKEへ！<br><br>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要です。
      </h3>
  </div>
</div>


<div class="container" style="font-family: 'Noto Sans JP',serif;">
    <div class="row pb-5 pt-2">

        <div class="col-sm-3 text-center">
          <div class="card">
              <div class="card-header">
                ジャンル検索
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%= link_to "ケーキ", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "焼き菓子", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "プリン", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "キャンディ", root_path, class: "text-secondary" %>
                </li>
              </ul>
          </div>
        </div>

        <div class="col-sm-9">
          <h2><span class="under-line">新着商品</span></h2>
          <div class="row">

            <% @products.last(4).each do |product| %>
              <div class="col-sm-3">
                <div class="card">

                  <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px;">
                    <%= link_to product_path(product.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
                      <%= attachment_image_tag(product, :image, :fill, 200, 180, class: 'card-img-top rounded') %><br>
                        <%= product.name %><br>
                        ¥<%= product.price.to_s(:delimited, delimiter: ',') %>
                      <% end %>
                  </div>

                </div>
              </div>
            <% end %>

          </div>

          <div class="text-right">
            <%= link_to "全ての表品を見る ＞", products_path %>
          </div>
        </div>

    </div>
</div>