    <div class="row mb-5" id="top-img">
        <div class="col-12 text-center pt-5 text-light" id="top-massage">
            <h3>
            ようこそ、ながのCAKEへ！<br><br>
            このサイトはケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要です。
            </h3>
        </div>
    </div>


<div class="container" style="font-family: 'Noto Sans JP',serif;">
    <div class="row pb-5 pt-2">
        <div class="col-3 text-center">
          <div class="card">
              <div class="card-header">
                ジャンル検索
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%= link_to "ケーキ", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "焼き菓子", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "プリン", root_path, class: "text-secondary" %>
                </li>
                <li class="list-group-item">
                    <%= link_to "キャンディ", root_path, class: "text-secondary" %>
                </li>
              </ul>
            </div>
        </div>
        <div class="col-9">
            <h2><span class="under-line">新着商品</span></h2>
            <div class="row mb-3">
              <div class="col-3">
                <div class="card">
                  <img src="assets/cake1.jpg" class="card-img-top rounded" alt="">
                  <div class="card-body">
                    <h5 class="card-title">ベリースコーン</h5>
                    <p class="card-text">¥630</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <img src="/assets/cake2.jpg" alt="">
                  <img src="assets/images/cake2.jpg" class="card-img-top rounded" alt="">
                  <div class="card-body">
                    <h5 class="card-title">いちごケーキ</h5>
                    <p class="card-text">¥650</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <img src="assets/cake3.jpg" class="card-img-top rounded" alt="">
                  <div class="card-body">
                    <h5 class="card-title">フルーツタルト</h5>
                    <p class="card-text">¥700</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <img src="assets/cake4.jpg" class="card-img-top rounded" alt="">
                  <div class="card-body">
                    <h5 class="card-title">チョコケーキ</h5>
                    <p class="card-text">¥600</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
            <%= link_to "全ての表品を見る ＞", products_path %>
            </div>
        </div>
    </div>
</div>