<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
        <div class="mypage",style="text-align:center">
          <h2 class="title">会員情報編集</h2>
            
            <table class="update">
              
              <%= form_with model:@customer, url: customers_path(@customer), local:true do |f| %>
             
             <tr><th><h5>氏名</h5></th>
               <td><%= f.text_field :last_name %>  <%= f.text_field :first_name %></td> 
             </tr>
            
            <tr><th><h5>フリガナ</h5></th>
              <td><%= f.text_field :last_name_kana %>  <%= f.text_field :first_name_kana %></td>
            </tr>
            
            <tr><th><h5>郵便番号</h5></th>
              <td><%= f.text_field :post_cord %></td>
            </tr> 
           
            <tr><th><h5>住所</h5></th>
              <td><%= f.text_field :address %></td>
            </td>
         
            <tr><th><h5>電話番号</h5></th>
              <td><%= f.text_field :phone_number %></td>
            </tr>
        
            <tr><th><h5>メールアドレス</h5></h2>
              <td><%= f.text_field :email %></td>
            </tr>
            
            </table>
            
             <%= f.submit '編集内容を保存',class:"btn btn-success" %>
             <% end %>
             <%= link_to '退会する',unsubsclibe_customers_path,class:"btn btn-danger" %>
        </div>     
      </div>
  </div>
</div>