<div class="container login-page">
  <!--<div class="row justify-content-center">-->
    <!--<div class="col-sm-12 col-md-8 col-lg-5">-->
      <div class="mt-5">
        <h2>新規会員登録</h2>
      </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

          <div class="field my-2">
            <%= f.label :名前, class: "mt-3 mr-5" %>
            (姓)<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "col-3 mr-1"%>
            (名)<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "col-3"%>
          </div>

          <div class="field mb-2">
            <%= f.label :フリガナ, class: "mt-2 "%>
            (セイ)<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "col-3" %>
            (メイ)<%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "col-3" %>
          </div>

          <div class="field mb-2">
            <%= f.label :メールアドレス, class: "mr-1 mb-2"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-3"  %>
          </div>

          <div class="field mb-2">
            <%= f.label :郵便番号（ハイフンなし）, class: "mr-4 mb-2" %>
            <%= f.text_field :post_cord, autofocus: true, autocomplete: "post_cord", class: "col-3"  %>
          </div>

          <div class="field mb-2">
            <%= f.label :住所, class: "mr-4 mb-2" %>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-3"  %>
          </div>

          <div class="field mb-2">
            <%= f.label :電話番号, class: "mr-4 mb-2" %>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "col-3"  %>
          </div>

          <div class="field mb-2">
            <%= f.label :パスワード（６文字以上）, class: "mr-4 mb-2"%>
            <!--<=% if @minimum_password_length %>-->
            <!--<em>(<=%= @minimum_password_length %> characters minimum)</em>-->
            <!--<=% end %>-->
            <%= f.password_field :password, autocomplete: "new-password", class: "col-3"  %>
          </div>

          <div class="field mb-2">
            <%= f.label :パスワード（確認用）, class: "mr-4 mb-4" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-3"  %>
          </div>

          <div class="actions mb-5">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        <% end %>


        <h4>既に登録済みの方</h4>
        <%= link_to "こちら", new_customer_session_path %>
        からログインを行ってください。

        <!--<=%= render "public/shared/links" %>-->

  <!--  </div>-->
  <!--</div>-->
</div>