<!--top.bottomに余白-->
<div class="container mt-5 mb-5">

  <h2>商品一覧</h2>

  <div class="text-right">
    <%= link_to "新規登録", new_admin_product_path, class:"btn btn-sm", style: "background-color: #cbb05e; color: black;" %>
  </div>

  <div class="row">

    <table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th colspan="1"></th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name ,admin_product_path(product.id) %></td>
            <td><%= product.price %></td>
            <td><%= product.genre.name %></td>
            <td></td>
            <td>
              <% if product.is_active == true %>
                <strong><p class="text-success">販売中</p></strong>
              <% else %>
                <strong><p class="text-secondary">販売停止中</p></strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <%= paginate @products %>

</div>