<div class="container" style="margin-bottom: 400px;">
  <div class="row">
    <div class="col">


      <h2>注文情報入力</h2>
      <%= form_with model: @order,url: confirm_orders_path, method: :post, local: true do |f| %>
        <div class="mt-5">
        <p>支払い方法</p>
        <%= f.radio_button :payment, :クレジットカード, checked: true  %>
        <%= f.label :payment, :クレジットカード, value: :クレジットカード %>

        <%= f.radio_button :payment, :銀行振込 %>
        <%= f.label :payment, :銀行振込, value: :銀行振込 %>
        </div>

        <div class="mt-5">
        <p>お届け先</p>
        <div>
        <%= f.radio_button :delivery_address, 0, checked: true %>
        <%= f.label :delivery_address, "ご自身の住所", value: 0 %>
        〒<%= current_customer.post_cord %>　<%= current_customer.address %>
        　<%= current_customer.last_name %><%= current_customer.first_name %>
        </div>

        <div>
        <%= f.radio_button :delivery_address, 1 %>
        <%= f.label :delivery_address, "登録済住所から選択", value: 1 %>
        <%= f.collection_select :shipping_id, @shippings, :id, :view_address , :prompt => "選択してください" %>
        </div>

        <div>
        <%= f.radio_button :delivery_address, 2 %>
        <%= f.label :delivery_address, "新しいお届け先", value: 2 %>
        </div>

        <div>
        <%= f.label :new_address, "郵便番号（ハイフンなし）"%>
        <%= f.text_field :shipping_post_cord, :placeholder => "0000000" %>
        </div>

        <div>
        <%= f.label :new_address, "住所"%>
        <%= f.text_field :shipping_address, :placeholder => "東京都渋谷区代々木神園町０−０", :size =>"38x10"%>
        </div>

        <div>
        <%= f.label :new_address, "宛名"%>
        <%= f.text_field :shipping_name, :placeholder => "令和道子" %>
        </div>
        </div>

        <%= f.submit "確認画面に進む", class: "btn mt-5", style: "background-color: #cbb05e; color: black;" %>

      <% end %>


    </div>
  </div>
</div>