<div class="container login-page pt-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0">


      <h2>ログイン</h2>
      <p>会員の方はこちらからログイン</p>


          <div class="text-center">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <div class="field">
                <%= f.label :メールアドレス, class: "mr-4 mb-5 mt-5" %>
                <%= f.email_field :email, autofocus: true, :size =>"35x10",  autocomplete: "email" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="field">
              <%= f.label :パスワード, class: "mr-5 mb-5" %>
              <%= f.password_field :password,:size =>"35x10",  autocomplete: "current-password" %>
            </div>
          </div>

          <div class="row mb-5">
            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-primary btn-sm" %>
            </div>
          </div>
          <% end %>
          </div>

          <p>会員登録がお済みでない方</p>
          <%= link_to "こちら", new_customer_registration_path %>
          から新規登録を行ってください。

          <!--<=%= render "public/shared/links" %>-->

    </div>
  </div>
</div>